chap10/*.pickle
chap10/corpus1.txt
chap10/corpus1.bin
chap9/enwiki-20150112-400-r10-105752.txt
chap9/enwiki-20150112-400-r100-10576.txt.bz2
chap9/enwiki-20150112-400-r10-105752.txt.bz2
chap9/enwiki-20150112-400-r100-10576.txt
chap9/corpus.txt
chap9/82.txt
chap9/*.pickle
chap9/corpus1.txt
chap8/rt-polaritydata/
chap7/artist.json.gz
chap8/sentiment.txt
chap8/feature.txt
chap8/label.txt
chap8/model.pickle
chap8/nlp_79.result
chap6/nlp.txt
chap6/stem.txt
chap6/word.txt
chap6/nlp.txt.xml

